<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="htmlhead">
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title th:text="${pagetitle}">title</title>

    <!--<link rel="icon" type="image/x-icon" th:href="@{/static/img/favicon.ico}" />-->
    <link rel="stylesheet" th:href="@{/static/libs/bootstrap/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/static/libs/bootstrap-buttons/buttons.css}" />
    <link rel="stylesheet" th:href="@{/static/libs/messenger/css/messenger.css}" />
    <link rel="stylesheet" th:href="@{/static/libs/messenger/css/messenger-theme-flat.css}" />

    <link rel="stylesheet" href="//at.alicdn.com/t/font_401994_9heanfm850sbgldi.css" />

    <link rel="stylesheet/less" th:href="@{/static/libs/accordion/accordion.less}" />
    <link rel="stylesheet/less" th:href="@{/static/css/index.less}" />

</head>

<body>
<!--头部-->
<div th:fragment="bodyhead">
    <div class="topbar-components">
        <div class="topbar-head topbar-left">
            <a href="javascript:void(0)" class="topbar-logo">
                <span class="iconfont icon-logo topbar-logo-icon topbar-left"></span>
                <p class="topbar-logo-name topbar-left">项目控制台</p>
            </a>
        </div>

        <div class="topbar-product topbar-left"></div>

        <div class="topbar-info topbar-right">
            <!--用户信息-->
            <div class="pull-left topbar-user">
                <div class="topbar-info-dropdown topbar-info-item">
                    <!--<div class="dropdown">-->
                    <!--<a class="topbar-user-photo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1504250268656&di=365bd265291305bbeb78c0027046137f&imgtype=0&src=http%3A%2F%2Fp.3761.com%2Fpic%2F43701399945993.png')">-->
                    <!--style="background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1504250268656&di=365bd265291305bbeb78c0027046137f&imgtype=0&src=http%3A%2F%2Fp.3761.com%2Fpic%2F43701399945993.png');"-->
                    <!--th:style="'background:url(' + @{(${collect.webLogo}=='' ? 'img/favicon.png' : ${collect.webLogo})} + ')'"-->
                    <a class="topbar-user-photo" th:style="'background-image:url(http://diy.qqjay.com/u2/2012/0618/ed6982355b1340095aeaf79072bdc1cc.jpg)'">
                        <!--Dropdown trigger-->
                        <!--<span class="caret"></span>-->
                    </a>
                    <ul class="dropdown-menu topbar-dropdown-menu topbar-user-dropdown-info" aria-labelledby="dLabel">
                        ...
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                        <li>1</li>
                    </ul>
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>

</div>

<!--左侧菜单列表-->
<div th:fragment="bodysidebar">
    <ul id="sidebar_accordion" class="accordion">
        <li>
            <div class="link">
                <i class="iconfont icon-logo"></i>
                <a href="javascript:void(0)">系统模块</a>
                <i class="iconfont icon-xiangyou icon-tip-nav-title"></i>
            </div>
            <ul class="submenu">
                <li><a data-bar-herf="user" href="#" class="">管理员</a></li>
                <li><a data-bar-herf="role" href="#">角色管理</a></li>
                <li><a data-bar-herf="menu" href="#">菜单管理</a></li>
                <li><a data-bar-herf="substation" href="#">分站设置</a></li>
                <li><a data-bar-herf="app-user-mangant" href="#">用户管理</a></li>
            </ul>
        </li>
        <li class="open">
            <div class="link">
                <i class="iconfont icon-approve"></i>
                <a href="javascript:void(0)">系统支撑</a>
                <i class="iconfont icon-xiangyou icon-tip-nav-title"></i></div>
            <ul class="submenu" style="display: block">
                <li><a data-bar-herf="notes" href="#">操作日志</a></li>
                <li><a data-bar-herf="agreenment" href="#">协议管理</a></li>
                <li><a class="active" data-bar-herf="weal" href="#">福利标签</a></li>
                <li><a data-bar-herf="job" href="#">职位</a></li>
            </ul>
        </li>
        <li>
            <div class="link">
                <i class="iconfont icon-logo"></i>
                <a href="javascript:void(0)">通知</a>
                <i class="iconfont icon-xiangyou icon-tip-nav-title"></i></div>
            <ul class="submenu">
                <li><a data-bar-herf="system-notice" href="#">系统通知</a></li>
            </ul>
        </li>
        <li>
            <div class="link">
                <i class="iconfont icon-logo"></i>
                <a href="javascript:void(0)">厂商信息</a>
                <i class="iconfont icon-xiangyou icon-tip-nav-title"></i>
            </div>
            <ul class="submenu">
                <li><a data-bar-herf="company-mangant" href="#">公司管理</a></li>
                <li><a data-bar-herf="company-recruit" href="#">招聘信息</a></li>
            </ul>
        </li>
    </ul>
</div>

<!--page start-->
<div th:fragment="modulepage">
    <!--map.addAttribute("page",userDTOList.getNumber());//获取当前页码-->
    <!--map.addAttribute("total",userDTOList.getTotalElements());//获取数据总量-->
    <!--map.addAttribute("totalPages",userDTOList.getTotalPages());//获取总页数-->
    <!--map.addAttribute("isFirst",userDTOList.isFirst());//是否是第一页-->
    <!--map.addAttribute("isLast",userDTOList.isLast());//是否是最后一页pageParameters.number-->

    <nav aria-label="Page navigation"  th:with="totalPages = ((${pageParameters.totalPages} le 0) ? 1 : ${pageParameters.totalPages}),
        pageIndex = ${pageParameters.number+1},
        isFirst = ${pageParameters.first},
        isLast = ${pageParameters.last}">
        <ul class="pagination">
            <!--上一页-->
            <li class="" th:classappend="${isFirst} ? 'disabled' : ''">
                <!--如果当前是首页,则直接定位成第一页, 如果当前不是第一页,则定位到当前页的上一页-->
                <a th:href="${isFirst} ? @{${pageHrefPrefix}(${pageHrefParaName}=1)} : @{${pageHrefPrefix}(${pageHrefParaName}=${pageParameters.number})}" class="iconfont icon-previous-page">
                    <!--<span aria-hidden="true" class="iconfont icon-previous-page"></span>-->
                </a>
            </li>

            <!--分页分情况展示-开始-->
            <!--分页数量小于或等于7时-->
            <li class="" th:if="${(totalPages) le 7}"
                data-th-each="i : ${#numbers.sequence(1, totalPages)}"
                data-th-classappend="${pageIndex eq i} ? 'active' : ''">
                <a th:href="@{${pageHrefPrefix}(${pageHrefParaName} = ${i})}" th:text="${i}"></a>
            </li>

            <!--页面数量大于7, 当前页码小于等于4-->
            <li class="" th:if="${((totalPages) gt 7) and (pageIndex le 4)}"
                data-th-each="i : ${#numbers.sequence(1, 5)}"
                data-th-classappend="${pageIndex eq i} ? 'active' : ''">
                <a th:href="@{${pageHrefPrefix}(${pageHrefParaName} = ${i})}" th:text="${i}"></a>
            </li>
            <li class="" th:if="${((totalPages) gt 7) and (pageIndex le 4)}">
                <a th:href="@{${pageHrefPrefix}(${pageHrefParaName} = ${totalPages} - 1)}" th:text="..."></a>
            </li>
            <li class="" th:if="${((totalPages) gt 7) and (pageIndex le 4)}">
                <a th:href="@{${pageHrefPrefix}(${pageHrefParaName} = ${totalPages})}" th:text="${totalPages}"></a>
            </li>

            <!--页面数量大于7, 当前页码距离最后一页小于等于2-->
            <li class="" th:if="${((totalPages) gt 7) and ((totalPages - pageIndex) le 2)}">
                <a th:href="@{${pageHrefPrefix}(${pageHrefParaName} = 1)}" th:text="1"></a>
            </li>
            <li class="" th:if="${((totalPages) gt 7) and ((totalPages - pageIndex) le 2)}">
                <a th:href="@{${pageHrefPrefix}(${pageHrefParaName} = 2)}" th:text="..."></a>
            </li>
            <li class="" th:if="${((totalPages) gt 7) and ((totalPages - pageIndex) le 2)}"
                data-th-each="i : ${#numbers.sequence(totalPages - 3, totalPages)}"
                data-th-classappend="${pageIndex eq i} ? 'active' : ''">
                <a th:href="@{${pageHrefPrefix}(${pageHrefParaName} = ${i})}" th:text="${i}"></a>
            </li>

            <!--页面数量大于7, 当前页码大于4, 同时当前页码距最后一页大于2-->
            <li class="" th:if="${((totalPages) gt 7) and (pageIndex gt 4) and ((totalPages - pageIndex) gt 2)}">
                <a th:href="@{${pageHrefPrefix}(${pageHrefParaName} = 1)}" th:text="1"></a>
            </li>
            <li class="" th:if="${((totalPages) gt 7) and (pageIndex gt 4) and ((totalPages - pageIndex) gt 2)}">
                <a th:href="@{${pageHrefPrefix}(${pageHrefParaName} = 2)}" th:text="..."></a>
            </li>

            <li class="" th:if="${((totalPages) gt 7) and (pageIndex gt 4) and ((totalPages - pageIndex) gt 2)}">
                <a th:href="@{${pageHrefPrefix}(${pageHrefParaName} = ${pageIndex} - 1)}" th:text="${pageIndex} - 1"></a>
            </li>
            <li class="" th:if="${((totalPages) gt 7) and (pageIndex gt 4) and ((totalPages - pageIndex) gt 2)}"
                th:classappend="active">
                <a th:href="@{${pageHrefPrefix}(${pageHrefParaName} = ${pageIndex})}" th:text="${pageIndex}"></a>
            </li>
            <li class="" th:if="${((totalPages) gt 7) and (pageIndex gt 4) and ((totalPages - pageIndex) gt 2)}">
                <a th:href="@{${pageHrefPrefix}(${pageHrefParaName} = ${pageIndex} + 1)}" th:text="${pageIndex} + 1"></a>
            </li>

            <li class="" th:if="${((totalPages) gt 7) and (pageIndex gt 4) and ((totalPages - pageIndex) gt 2)}">
                <a th:href="@{${pageHrefPrefix}(${pageHrefParaName} = ${totalPages} - 1)}" th:text="..."></a>
            </li>
            <li class="" th:if="${((totalPages) gt 7) and (pageIndex gt 4) and ((totalPages - pageIndex) gt 2)}">
                <a th:href="@{${pageHrefPrefix}(${pageHrefParaName} = ${totalPages})}" th:text="${totalPages}"></a>
            </li>
            <!--分页分情况展示-结束-->

            <!--下一页-->
            <li class="" data-th-classappend="${isLast} ? 'disabled' : ''">
                <a th:href="${isLast} ? @{${pageHrefPrefix}(${pageHrefParaName}=${totalPages})} : @{${pageHrefPrefix}(${pageHrefParaName}=${pageIndex} + 1)}" class="iconfont icon-next-page">
                </a>
            </li>
        </ul>
    </nav>
</div>
<!--page-end-->


<scripts th:fragment="htmlscripts">
    <script type="text/javascript" th:src="@{/static/libs/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/libs/bootstrap/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/libs/messenger/js/messenger.min.js}"></script>

    <script type="text/javascript" th:src="@{/static/libs/accordion/accordion.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/common/topbar.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/util/imessenger.js}"></script>

</scripts>
</body>

</html>