//字体颜色
@font-color: #333;
//背景色
@back-color: #333;


@sidebar-color:#fff;
@sidebar-back-color:#333;
@sidebar-back-color-inverse:#444;
@sidebar-back-color-active:#555;


@font-topbar-logo-color:#dedede;
@font-color-inverse:#fff;

@product-back-color:#fff;

