@charset "utf-8";
body {
  margin: 0;
  padding: 0;
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  -webkit-font-smoothing: antialiased;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
  color: #333333;
  text-overflow: ellipsis;
}
p {
  margin: 0;
  padding: 0;
}
