<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" href="../static/img/logo.ico" type="image/x-icon" />

    <!--<link rel="stylesheet/less" href="../static/libs/accordion/accordion.less" />-->

    <link rel="stylesheet" href="../static/libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_401994_lgtdr6obraiqkt9.css" />

    <link rel="stylesheet/less" href="../static/css/common.less" />

</head>
<body>
    <!--视图容器-->
    <div class="view-framework">
        <!--头部-->
        <div class="viewFramework-topbar">
            <div class="topbar-components">
                <div class="topbar-head topbar-left">
                    <a href="javascript:void(0)" class="topbar-logo">
                        <span class="iconfont icon-logo topbar-logo-icon topbar-left"></span>
                        <p class="topbar-logo-name topbar-left">项目控制台</p>
                    </a>
                </div>

                <div class="topbar-product topbar-left">产品中间区域</div>

                <div class="topbar-info topbar-right">右侧区域</div>
            </div>

        </div>

        <!--body主区域-->
        <div class="viewFramework-body">
            <!--左侧菜单列表-->
            <div class="viewFramework-sidebar">
                <ul id="sidebar_accordion" class="accordion">
                    <li>
                        <div class="link">
                            <i class="iconfont icon-logo"></i>
                            <a href="javascript:void(0)">系统模块</a>
                            <i class="iconfont icon-xiangyou icon-tip-nav-title"></i>
                        </div>
                        <ul class="submenu">
                            <li><a data-bar-herf="user" href="#" class="">管理员</a></li>
                            <li><a data-bar-herf="role" href="#">角色管理</a></li>
                            <li><a data-bar-herf="menu" href="#">菜单管理</a></li>
                            <li><a data-bar-herf="substation" href="#">分站设置</a></li>
                            <li><a data-bar-herf="app-user-mangant" href="#">用户管理</a></li>
                        </ul>
                    </li>
                    <li class="open">
                        <div class="link">
                            <i class="iconfont icon-approve"></i>
                            <a href="javascript:void(0)">系统支撑</a>
                            <i class="iconfont icon-xiangyou icon-tip-nav-title"></i></div>
                        <ul class="submenu" style="display: block">
                            <li><a data-bar-herf="notes" href="#">操作日志</a></li>
                            <li><a data-bar-herf="agreenment" href="#">协议管理</a></li>
                            <li><a class="active" data-bar-herf="weal" href="#">福利标签</a></li>
                            <li><a data-bar-herf="job" href="#">职位</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="link">
                            <i class="iconfont icon-logo"></i>
                            <a href="javascript:void(0)">通知</a>
                            <i class="iconfont icon-xiangyou icon-tip-nav-title"></i></div>
                        <ul class="submenu">
                            <li><a data-bar-herf="system-notice" href="#">系统通知</a></li>
                        </ul>
                    </li>
                    <li>
                        <div class="link">
                            <i class="iconfont icon-logo"></i>
                            <a href="javascript:void(0)">厂商信息</a>
                            <i class="iconfont icon-xiangyou icon-tip-nav-title"></i>
                        </div>
                            <ul class="submenu">
                            <li><a data-bar-herf="company-mangant" href="#">公司管理</a></li>
                            <li><a data-bar-herf="company-recruit" href="#">招聘信息</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!--右侧主显示区域-->
            <div class="viewFramework-product"></div>
        </div>
    </div>

    <script type="text/javascript" src="../static/libs/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../static/libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/libs/accordion/accordion.js"></script>

    <script type="text/javascript" src="../static/libs/less/less.min.js"></script>
</body>
</html>