<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" href="/img/icon.ico" type="image/x-icon" />
    <title th:text="${pagetitle}">登录</title>
    <link rel="stylesheet" href="../static/libs/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/index.css" />
</head>
-->

<head th:include="common/layout :: htmlhead" th:with="pagetitle='首页'"></head>

<body>
    <button class="btn btn-primary" onclick="index.inputPage()">input</button>
    <div class="index-main" id="index-main">
        <!--        <button class="btn btn-primary">测试按钮</button>-->

    </div>

    <!--
    <script type="text/javascript" src="../static/libs/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../static/libs/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/login.js"></script>
-->
    <scripts th:include="common/layout :: htmlscripts"></scripts>
</body>

</html>